.vp-hero-action-button.primary {
  background-color: #065be5;
}
.vp-hero-action-button {
  border-color: #065be5
}
.vp-hero-action-button.primary:hover {
  background-color: #00529d;
  border-color: #00529d;
}